boto3
embedders==0.0.18
fastapi
minio
pandas
psycopg2-binary
pydantic
requests
spacy==3.4.1
SQLAlchemy
torch
uvicorn

# additional embedders requirements
numpy
sentence-transformers==2.2.2
scikit-learn==1.1.2
tqdm==4.64.1
transformers